body, div, header, footer, fieldset{
    /* border: 1px gray solid; */
    font-family: 'Times New Roman', Times, serif;
}
html, body{
    margin: 0;
    padding: 0;
}
.body-login{
    display: flex;
    height: 100vh;
}
.right{
    flex: 1;
    background-image: linear-gradient(rgb(0, 95, 13), rgb(134, 0, 101));   
    
}
.fieldset-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;   
    
}
.fieldset-login input{
    border-radius: 10px;
    border:none;
    padding: 5px;
    margin: 5px;
    width: 50%;
}
.login-user{
    flex: 1;
    color: green;
}
.login-pass{
    flex: 1;
    
}
.right h1, h3{
    text-align: center;
}
.right h3 img{
    height: 30vh;
}
.right h1{
    font-size: 2rem;
    color: rgba(245, 245, 245, 0.815);
    background-color: rgba(20, 20, 20, 0.37);
}
.h-span1{
    color: rgb(250, 37, 73);
}
.h-span2{
    color: green;
}
.button {
    margin: 20px;
    flex: 1;

}
.button button{
    margin:10px;

}
.button a{
    text-decoration: none;
    color: black;
    
}
.left{
    flex: 1;
    background:linear-gradient( rgba(0, 0, 0, 0.774), rgba(170, 49, 49, 0.836) ), url("image/login-bg.jpg") no-repeat center bottom;
    box-sizing: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}
.home,p,div,section{
    /* border: 1px gray solid; */
}
.home{
    display: flex;
    flex-direction: column;
}
.header-1{
    height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.774), rgba(170, 49, 49, 0.836) ), url("image/wall.jpeg") no-repeat ;
    box-sizing: inherit;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0px;
    margin: 0px;
}
.header-h1{
    position: fixed;
}

.header-div{
    flex: 1;
}
.section-1{
    height: 100vh;
    background-color: blanchedalmond;   
}
.section-2{
    height: 100vh;
    background-color: coral;
}
.footer-index{
    height: 50vh;
    background-color: rgb(32, 32, 32);
}
.link{
    color: rgb(32, 95, 32); text-decoration: none; border-bottom: 1px solid green;
    
}


